<!DOCTYPE html>
{% load static %} 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="portfolio site for codebreakers" name="code breakers">

    <!-- Disable tap highlight on IE --> 
    s
    <meta name="msapplication-tap-highlight" content="no" >

    <!--link rel="apple-touch-icon" sizes="180x180" href="./static/assets/logo.jpg"> -->
    

    <title>Waste Management </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block headblock %}
    
{% endblock %}

{% block fullscreen %}

</head>

<body class="minimal">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->

    <header>
        <nav class="navbar  navbar-fixed-top navbar-inverse">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="./login.html" title="">01 : Login </a></li>
                        <li><a href="./about.html" title="">02 : Register </a></li>
                        
                    </ul>


                </div>

                <a href="https://www.youtube.com/codebreakerstech">
                    <img src="./static/assets/logo.png" target="_blank" width="400px" height="100px" style="margin-left: auto; margin-right: auto;"></a>

            </div>
        </nav>
    </header>
    <!-- Add your site or app content here -->
    <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/images/dev.jpg ')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="hero-full-wrapper">
                        <div class="text-content">
                            <h1>Hello,<br>
                                <span id="typed-strings">
                  <span>Development of Business model</span>
                                <span>for collection and utiliazaton of the </span>
                                <span>single use plastic </span>
                                </span>
                                <span id="typed"></span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block fullscreen %}

    {% endblock %}

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            type();
            movingBackgroundImage();
        });
    </script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>
